/* 超出行数，自动显示行尾省略号，最多5行 */
@for $i from 1 through 5 {
  .u-line-#{$i} {
    /* #ifdef APP-NVUE */
    // nvue下，可以直接使用lines属性，这是weex特有样式
    lines: $i;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
    /* #endif */

    /* #ifndef APP-NVUE */
    // vue下，单行和多行显示省略号需要单独处理
    @if $i == '1' {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    } @else {
      display: -webkit-box !important;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
      -webkit-line-clamp: $i;
      -webkit-box-orient: vertical !important;
    }

    /* #endif */
  }
}

//设置margin、padding，最大设置500rpx
@for $i from 1 to 500 {
  $content: '';
  $size: 1rpx * $i;
  $typeStr: '';
  $typeArray: ('m', 'p');
  $directionArray: ('r', 'l', 't', 'b');

  @each $type in $typeArray {
    @each $direction in $directionArray {
      .#{$type}#{$direction}-#{$i} {
        @if $type == 'm' {
          $typeStr: 'margin';
        } @else if $type == 'p' {
          $typeStr: 'padding';
        }
        @if $direction == 'r' {
          $content: #{$typeStr}-right;
        } @else if $direction == 'l' {
          $content: #{$typeStr}-left;
        } @else if $direction == 't' {
          $content: #{$typeStr}-top;
        } @else if $direction == 'b' {
          $content: #{$typeStr}-bottom;
        }
        #{$content}: $size;
      }
    }
  }
}

/* 外边距、内边距全局样式 */
@for $i from 0 through 50 {
  .mt#{$i} {
    margin-top: #{$i}px !important;
  }
  .mr#{$i} {
    margin-right: #{$i}px !important;
  }
  .mb#{$i} {
    margin-bottom: #{$i}px !important;
  }
  .ml#{$i} {
    margin-left: #{$i}px !important;
  }
  .pt#{$i} {
    padding-top: #{$i}px !important;
  }
  .pr#{$i} {
    padding-right: #{$i}px !important;
  }
  .pb#{$i} {
    padding-bottom: #{$i}px !important;
  }
  .pl#{$i} {
    padding-left: #{$i}px !important;
  }
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/* flex */
.flex-justify-end {
  display: flex;
  justify-content: flex-end;
}

.flex-align-start {
  display: flex;
  align-items: flex-start;
}

.flex-align-end {
  display: flex;
  align-items: flex-end;
}

.flx-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

.flx-justify-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flx-align-center {
  display: flex;
  align-items: center;
}

.flex-direction {
  display: flex;
  flex-direction: column;
}

.flex-direction-row {
  display: flex;
  flex-direction: row;
}

.flex-direction-end {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.flex-direction-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-justify-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-align-space-between {
  display: flex;
  align-items: space-between;
}

/* 文字单行省略号 */
.sle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 文字多行省略号 */
.mle {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/* 文字多了自動換行 */
.break-word {
  word-break: break-all;
  word-wrap: break-word;
}

/* 底部固定 */
.footer-fixed {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 60rpx 32rpx;
  height: 100rpx;
  background-color: #fff;
}

.fr {
  float: right;
}

@for $i from 1 through 5 {
  .u-line-#{$i} {
    /* #ifdef APP-NVUE */
    // nvue下，可以直接使用lines属性，这是weex特有样式
    lines: $i;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
    /* #endif */

    /* #ifndef APP-NVUE */
    // vue下，单行和多行显示省略号需要单独处理
    @if $i == '1' {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    } @else {
      display: -webkit-box !important;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
      -webkit-line-clamp: $i;
      -webkit-box-orient: vertical !important;
    }

    /* #endif */
  }
}

.title-text {
  font-size: 32rpx;
  font-weight: 610;
}

.block-100-100 {
  display: block;
  width: 100%;
  height: 100%;
}

.divider {
  position: relative;
  padding-left: 20rpx;
  color: #303133;
  font-size: 32rpx;
  font-weight: 600;
  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 8rpx;
    height: 36rpx;
    content: '';
    background-color: $hubei-primary;
    border-radius: 4rpx;
    transform: translateY(-50%);
  }
}
