@font-face {
  font-family: 'iconfont'; /* Project id 4852160 */
  src: url('iconfont.ttf?t=1742175176519') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-locationfill:before {
  content: '\e650';
}

.iconfont-dianhua:before {
  content: '\e604';
}

.iconfont-erweima1:before {
  content: '\e642';
}

.iconfont-erweima:before {
  content: '\e637';
}

.iconfont-gonggao:before {
  content: '\e636';
}

.iconfont-Setting:before {
  content: '\e632';
}

.iconfont-plus:before {
  content: '\e631';
}

.iconfont-office-building:before {
  content: '\e630';
}

.iconfont-location-outline:before {
  content: '\e62f';
}

.iconfont-bianji2:before {
  content: '\e62e';
}

.iconfont-date:before {
  content: '\e62d';
}

.iconfont-arrow-right:before {
  content: '\e62c';
}

.iconfont-shanchu:before {
  content: '\e62b';
}

.iconfont-rili:before {
  content: '\e62a';
}

.iconfont-User:before {
  content: '\e635';
}

.iconfont-Time:before {
  content: '\e634';
}

.iconfont-success:before {
  content: '\e633';
}

.iconfont-Time2:before {
  content: '\e627';
}

.iconfont-juxing:before {
  content: '\e629';
}

.iconfont-dizhi:before {
  content: '\e628';
}

.iconfont-bianji:before {
  content: '\e626';
}

.iconfont-zanting:before {
  content: '\e600';
}

.iconfont-shizhong:before {
  content: '\e74f';
}

.iconfont-xingbie:before {
  content: '\e60f';
}

.iconfont-xingbie1:before {
  content: '\e610';
}

.iconfont-paixu:before {
  content: '\e60a';
}

.iconfont-Play:before {
  content: '\e72c';
}

.iconfont-refresh:before {
  content: '\e6a2';
}

.iconfont-shoucang:before {
  content: '\e8b9';
}

.iconfont-search:before {
  content: '\e618';
}

.iconfont-down:before {
  content: '\e619';
}

.iconfont-up:before {
  content: '\e61a';
}

.iconfont-edit:before {
  content: '\e61b';
}

.iconfont-fankui:before {
  content: '\e61c';
}

.iconfont-lianjietiaozhuan:before {
  content: '\e602';
}

.iconfont-phone:before {
  content: '\e61d';
}

.iconfont-jianzhu:before {
  content: '\e620';
}

.iconfont-user:before {
  content: '\e61e';
}

.iconfont-suo:before {
  content: '\e61f';
}

.iconfont-timer-line:before {
  content: '\e76a';
}

.iconfont-cross:before {
  content: '\e621';
}

.iconfont-location-outlinebeifen:before {
  content: '\e770';
}
